.border_inset_outline {
  box-shadow: inset 0px 1px 1px 0px rgba(236, 240, 255, 0.1);
}

.bitcoin_bg {
  background: linear-gradient(
      180deg,
      rgba(98, 106, 136, 0.1) 0%,
      rgba(234, 179, 0, 0.06) 100%
    ),
    linear-gradient(
      180deg,
      rgba(236, 240, 255, 0.1) 0%,
      rgba(59, 63, 87, 0) 100%
    );
}

.solana_bg {
  background: linear-gradient(
      180deg,
      rgba(98, 106, 136, 0.1) 0%,
      rgba(220, 31, 255, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      rgba(236, 240, 255, 0.1) 0%,
      rgba(59, 63, 87, 0) 100%
    );
}

.ethereum_bg {
  background: linear-gradient(
      180deg,
      rgba(98, 106, 136, 0.1) 0%,
      rgba(237, 240, 244, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      rgba(236, 240, 255, 0.1) 0%,
      rgba(59, 63, 87, 0) 100%
    );
}

.binance_coin_bg {
  background: linear-gradient(
      180deg,
      rgba(98, 106, 136, 0.1) 0%,
      rgba(234, 179, 0, 0.06) 100%
    ),
    linear-gradient(
      180deg,
      rgba(236, 240, 255, 0.1) 0%,
      rgba(59, 63, 87, 0) 100%
    );
}

.shiba_bg {
  background: linear-gradient(
      180deg,
      rgba(98, 106, 136, 0.1) 0%,
      rgba(228, 45, 4, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      rgba(236, 240, 255, 0.1) 0%,
      rgba(59, 63, 87, 0) 100%
    );
}
